.order {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    min-height: 128px;
    padding: 16px 24px;
    border: 1px solid #E7E7E7;
    border-radius: 8px;
    color: #000;
    background: #FFF;

    &__avatar {
        flex-grow: 0;
        width: 72px;
        height: 72px;
        overflow: hidden;
        border-radius: 50%;
        background-color: #555;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }

    &__content {
        flex-grow: 1;
        margin-left: 24px;
    }

    &__title {
        font-weight: bold;
        font-size: 20px;
        line-height: 27px;
    }

    &__status {
        &-user {
            display: flex;
            align-items: center;
            margin-bottom: 8px;
            font-weight: normal;
            font-size: 11px;
            line-height: 15px;
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        flex-grow: 0;
        width: 101px;

        &-status {
            min-width: 81px;
            height: 21px;
            box-sizing: border-box;
            margin-right: -24px;
            padding-left: 12px;
            padding-right: 12px;
            border-radius: 24px 0 0 24px;
            font-weight: 600;
            font-size: 10px;

            &.gray {
                color: #4F4F4F;
                background-color: rgba(189,189,189,.23);
            }
        }

        &-toggle {
            width: 32px;
            height: 32px;
            box-sizing: border-box;
            border-radius: 50%;
            background-color: rgba(#E7E7E7,.2);
            box-shadow: 0 1px 4px rgba(#000,.2);
        }
    }


    &__circle-online {
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 100%;
        margin-left: 4px;
        background-color: #00C900;
    }

    &__btn {
        padding: 5px 16px;
        border: none;
        border-radius: 24px;
        outline: none;
        font-weight: 600;
        font-size: 10px;
        line-height: 14px;
        color: #FFF;
        background-color: #689FD9;

    }
}