.order {

    &__container {
        position: relative;
        width: 100%;
        min-height: 128px;
        padding: 16px 24px;
        border: 1px solid #E7E7E7;
        box-sizing: border-box;
        border-radius: 8px;
        color: #000;
        background: #FFF;
    }

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__avatar {
        flex-grow: 0;
        width: 72px;
        height: 72px;
        overflow: hidden;
        border-radius: 50%;
        background-color: #555;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }

    &__content {
        flex-grow: 1;
        margin-left: 24px;
    }

    &__title {
        font-weight: bold;
        font-size: 20px;
        line-height: 27px;
    }

    &__status {
        &-user {
            display: flex;
            align-items: center;
            margin-bottom: 8px;
            font-weight: normal;
            font-size: 11px;
            line-height: 15px;
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        flex-grow: 0;
        width: 101px;

        &-status {
            display: flex;
            align-items: flex-end;
            min-width: 81px;
            height: 21px;
            box-sizing: border-box;
            margin-right: -24px;
            padding-left: 12px;
            padding-right: 12px;
            border-radius: 24px 0 0 24px;
            font-weight: 600;
            font-size: 10px;

            &.gray {
                color: #4F4F4F;
                background-color: rgba(189,189,189,.23);
            }
            &.green {
                color: #009900;
                background-color: rgba(#009900,.15);
            }
            &.red {
                color: #EB5757;
                background-color: rgba(#EB5757,.15);
                //opacity: 0.1;
            }
            &.yellow {
                color: #CC933D;
                background-color: rgba(#F2C94C,.15);
            }
            &.blue {
                color: #689FD9;
                background-color: rgba(#689FD9,.15);
            }
        }

        &-toggle {
            position: absolute;
            right: 32px;
            bottom: 24px;
            width: 32px;
            height: 32px;
            box-sizing: border-box;
            border-radius: 50%;
            background-color: rgba(#E7E7E7,.2);
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='7' viewBox='0 0 12 7' fill='none'%3E%3Cpath d='M6 7L11.5196 0.691923C11.7241 0.458165 11.4233 0.126186 11.1706 0.306724C8.07753 2.51605 3.92247 2.51605 0.829414 0.306725C0.576661 0.126186 0.275893 0.458163 0.480431 0.691921L6 7Z' fill='%23B8B8B8'/%3E%3C/svg%3E");
            background-position: center;
            background-repeat: no-repeat;
            box-shadow: 0 1px 4px rgba(#000,.2);
        }
    }


    &__circle-online {
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 100%;
        margin-left: 4px;
        background-color: #00C900;
    }

    &__btn {
        padding: 5px 16px;
        border: none;
        border-radius: 24px;
        outline: none;
        font-weight: 600;
        font-size: 10px;
        line-height: 14px;
        color: #FFF;
        background-color: #689FD9;

    }

    &__body {
        margin-top: 24px;
    }
}